html {
  background: url(../images/beautiful-day.jpg) no-repeat top center;
}

img {
  position: relative;
  z-index: 11;
  cursor: pointer;
}

.wrapper {
  position: relative;
  width: 960px;
  height: 100vh;
  margin: 0 auto;
}

#wheelbarrow, #wheelbarrow-foreground {
  margin-left: 80px;
  width: 688px;
  height: 514px;
}

#wheelbarrow {
  position: relative;
  background: url(../images/wheelbarrow.png) no-repeat;
  z-index: 0;
  top: 220px;
}
#wheelbarrow-foreground {
  pointer-events: none;
  position: absolute;
  background: url(../images/wheelbarrow-foreground.png) no-repeat;
  z-index: 10;
  top: 220px;
}

#basket, #ball {
  display: inline;
}

/* Select the image with a class of kitty-1 */

img.kitty-1 {
  position: absolute;
  z-index: 1;
  top: 276px;
  left: 129px;
}

#kitty-2 {
  position: absolute;
  z-index: 2;
  top: 212px;
  left: 369px;
}

#basket img {
  position: absolute;
  z-index: 5;
  top: 291px;
  left: 319px;
}

#ball + img {
  position: absolute;
  z-index: 4;
  top: 260px;
  left: 455px;
}

img[alt="Kitty 5"] {
  position: absolute;
  z-index: 3;
  top: 217px;
  left: 223px;
}
